@if(isLoaded)
{


<app-regulator class="position-sticky" title="Employees Table"
               [list]="List" (valueChange)="value($event)"></app-regulator>

<div class="row">

  <button data-bs-toggle="modal" data-bs-target="#action-model-modal" (click)="OpenAction()"
          class="btn btn-outline-dark justify-content-center
        px-3 border-0 rounded-0 rounded-top-3 d-flex align-items-center">
    <span class="btn-inner mx-1">
      <i class="bi bi-plus-square"></i>
    </span>
    {{'New'}}
  </button>

</div>

<div class="table-responsive" style="max-height:80vh">
  <table class="table table-hover w-100 custom-table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Status</th>
        <th scope="col">Department Name</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>

      @for(item of _valueList; track item;)
      {
      <tr scope="row" class="rounded-1">
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.dateOfBirth | date }}</td>
        <td>{{StatusToValue(item.status)}}</td>
        <td>{{item.departmentName}}</td>

        <td class="d-flex justify-content-center">
          <button class="btn btn-icon btn-soft-light ms-3 btn-sm border-0" (click)="OpenAction(item.id)"
                  data-bs-toggle="modal" data-bs-target="#action-model-modal">
            <span class="btn-inner">
              <i class="bi bi-pencil-square"></i>
            </span>
          </button>

          <button class="btn btn-icon btn-soft-danger ms-3 btn-sm border-0" (click)="OpenAction(item.id!)"
                  data-bs-toggle="modal" data-bs-target="#delete-model-modal">
            <span class="btn-inner">
              <i class="bi bi-trash3 text-danger"></i>
            </span>
          </button>
        </td>

      </tr>
      <tr class="spacer"><td colspan="100"></td></tr>
      }

    </tbody>
  </table>
</div>


}





<div class="modal fade" id="action-model-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{isAdd?'Add':'Edit' }} Employee</h5>
      </div>
      <form class="was-validated" #newForm="ngForm" (ngSubmit)="Action(newForm)">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">

              <div class="form-group ">
                <label for="firstName" class="form-label">First Name</label>

                <input class="form-control" autocomplete="none" id="firstName"
                       placeholder="enter first name" required="" type='text'
                       #firstName [(ngModel)]="_model.firstName" maxlength="60"
                       name="firstName" />
                <div class="text-danger" *ngIf="(firstName.value != null && firstName.value!.startsWith(' '))">
                  {{'whitespace invalid to start text' }}
                </div>
              </div>

            </div>

            <div class="col-md-6">

              <div class="form-group ">
                <label for="lastName" class="form-label">Last Name</label>

                <input class="form-control" autocomplete="none" id="lastName"
                       placeholder="enter last name" required="" type='text'
                       #lastName [(ngModel)]="_model.lastName" maxlength="60"
                       name="lastName" />
                <div class="text-danger" *ngIf="(lastName.value != null && lastName.value!.startsWith(' '))">
                  {{'whitespace invalid to start text' }}
                </div>
              </div>

            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="dateOfBirth" class="form-label">Date Of Birth</label>

                <input type="date" class="form-control" required
                       placeholder="Enter date Of Birth" #dateOfBirth
                       name="dateOfBirth" [(ngModel)]="_model.dateOfBirth">

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="status" class="form-label">Status</label>
                <select class="form-control" required aria-label="select" name="status"
                        [(ngModel)]="_model.status" #status>
                  <option class="fw-bold" value="" disabled selected>Select</option>

                  <option *ngFor="let s of StatusToList" value="{{s.key}}">{{s.value}}</option>
                </select>
              </div>
            </div>


          </div>

          <div class="mt-3 row">
            <label for="department" class="col-sm-2 col-form-label">Department</label>
            <div class="col-10">
              <div class="form-group">
                <select2 placeholder="Type to search..."
                         [data]="Departments" resettable
                         [(ngModel)]="_model.departmentId" name="departmentId"> </select2>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-dark">
            {{ isAdd?'Add':'Edit' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>






<div class="modal fade" id="delete-model-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content" style="max-height:50%">
      <div class="modal-header">
        <h5 class="modal-title">Delete Employee</h5>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table align-items-center table-flush" role="grid">
            <thead class="thead-light">
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Department Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{_model.firstName}}</td>
                <td>{{_model.lastName}}</td>
                <td>{{_model.departmentName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        {{'Please ensure then take action!'}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="Delete()">Delete</button>
      </div>

    </div>
  </div>
</div>
